@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/bg-video';
@import 'components/button';
@import 'components/composition';
@import 'components/feature-box';
@import 'components/card';
@import 'components/story';
@import 'components/form';
@import 'components/popup';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';

@import 'pages/home';

@media (min-width: 50rem) {
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 3.5rem;
  }
  .heading-primary--sub {
    font-size: 2rem;
    letter-spacing: 1rem;
  }

  .btn:link,
  .btn:visited {
    padding: 1.5rem 4rem;
  }
}
